@font-face {
  font-family: "Lato-300";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Lato-300.ttf);
}
@font-face {
  font-family: "Lato-400";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Lato-400.ttf) format("ttf");
}
@font-face {
  font-family: "Lato-400-italic";
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/Lato-400-Italic.ttf) format("ttf");
}
@font-face {
  font-family: "Lato-700";
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Lato-700.ttf) format("ttf");
}
@font-face {
  font-family: "Lato-900";
  font-weight: 900;
  font-style: normal;
  src: url(/fonts/Lato-900.ttf) format("ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  background-color: #ffffff;
  font-size: "Lato-400";
}

.center {
  padding-left: calc(50% - 572px);
  padding-right: calc(50% - 572px);
}

a {
  text-decoration: none;
}

.button {
  background-color: #f16d7f;
  border: transparent;
}

.main-header__header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header-top__left {
  display: flex;
  gap: 37px;
}
.header-top__logo-link {
  display: flex;
  align-items: center;
  gap: 13px;
}
.header-top__logo-text {
  font-family: "Lato-300";
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.header-top__logo-text--colored {
  font-family: "Lato-900", sans-serif;
  color: #f16d7f;
}
.header-top__search-field {
  display: flex;
  align-items: center;
}
.header-top__right {
  display: flex;
  gap: 26px;
}
.header-top__browse summary {
  list-style-type: none;
}

.browse__dropdown-list {
  list-style-type: none;
  text-align: left;
}
.browse__details {
  padding: 19px 0 22px 15px;
}
.browse__browse-title {
  font-family: "Lato-400";
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}

.search-field__button {
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  height: 38px;
  font-family: "Lato-300";
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #222222;
  width: 87px;
}
.search-field__search-input {
  height: 38px;
  border: 1px solid #e6e6e6;
  border-left: none;
  font-family: "Lato-300";
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
  padding-right: 16px;
  width: 280px;
}
.search-field__search-button {
  border-radius: 0 3px 3px 0;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-left: none;
  padding-left: 11px;
  padding-right: 11px;
  background-color: inherit;
}

.basket__button {
  background-color: inherit;
  border: none;
}

.main-header__account-button {
  padding-left: 19px;
  padding-right: 16px;
}

.main-header__account-details summary {
  list-style-type: none;
  font-family: "Lato-400", sans-serif;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.header-bottom__nav {
  border: 1px solid #ececec;
}
.header-bottom__nav-list {
  list-style-type: none;
  display: flex;
  width: 680px;
  justify-content: space-between;
  margin: 0 auto;
}
.header-bottom__nav-item {
  font-family: "Lato-700", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #222222;
  padding-top: 19px;
  padding-bottom: 22px;
}

.intro {
  background-image: url("images/bg_top.png");
  padding-top: 276px;
  padding-bottom: 297px;
}
.intro__moto {
  display: flex;
}/*# sourceMappingURL=style.css.map */