@font-face {
  font-family: "Lato-300";
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/Lato-300.ttf);
}
@font-face {
  font-family: "Lato-400";
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/Lato-400.ttf);
}
@font-face {
  font-family: "Lato-400-italic";
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/Lato-400-Italic.ttf);
}
@font-face {
  font-family: "Lato-700";
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/Lato-700.ttf);
}
@font-face {
  font-family: "Lato-900";
  font-weight: 900;
  font-style: normal;
  src: url(/fonts/Lato-900.ttf);
}
.arrivals__header {
  padding: 65px 0;
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
.arrivals__header-title {
  font-family: "Lato-900";
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  color: #f16d7f;
}

.prod-photo {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding-bottom: 50px;
}

.prod-description {
  background-color: #ffffff;
  padding: 73px 0 122px;
  width: 1141px;
  margin: 0 auto;
  position: relative;
  top: -78px;
  border: 1px solid #eaeaea;
}
.prod-description__title {
  font-family: "Lato-700";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #f16d7f;
}
.prod-description__name {
  font-family: "Lato-900";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 67px;
}
.prod-description__descrip {
  font-family: "Lato-300";
  font-size: 14px;
  line-height: 24px;
  color: #5e5e5e;
  margin-bottom: 28px;
  max-width: 620px;
  text-align: center;
  margin: 0 auto 28px;
}
.prod-description__add-info {
  display: flex;
  gap: 44px;
  justify-content: center;
  margin-bottom: 37px;
}
.prod-description__price {
  font-family: "Lato-700";
  font-size: 24px;
  line-height: 24px;
  color: #f16d7f;
  text-align: center;
  width: 642px;
  margin: 0 auto 63px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 43px;
}
.prod-description__settings {
  display: flex;
  gap: 53px;
  justify-content: center;
  margin-bottom: 28px;
}
.prod-description__button {
  font-family: "Lato-700";
  font-size: 16px;
  line-height: 1.2;
  color: #f16d7f;
  margin: 0 auto;
  display: flex;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  align-items: center;
  padding: 0 206px;
}
.prod-description__button img {
  margin-right: 15px;
}

.settings-text {
  font-family: "Lato-700";
  font-size: 14px;
  line-height: 24px;
  color: #2f2f2f;
}

.add-info__text {
  font-family: "Lato-700";
  font-size: 14px;
  line-height: 24px;
  color: #b9b9b9;
}
.add-info__text--bold {
  color: #2f2f2f;
}

.suggestion {
  background-color: #ffffff;
}
.suggestion__title {
  font-family: "Lato-900";
  font-size: 24px;
  line-height: 20px;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 72px;
}
.suggestion__cards {
  display: flex;
  gap: 32px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Lato-400", sans-serif;
  color: #222222;
}

.center {
  padding-left: calc(50% - 572px);
  padding-right: calc(50% - 572px);
}

a {
  text-decoration: none;
}

.button {
  background-color: #f16d7f;
  border: transparent;
  color: #ffffff;
}

.main-header__header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header-top__left {
  display: flex;
  gap: 37px;
}
.header-top__search-field {
  display: flex;
  align-items: center;
}
.header-top__right {
  display: flex;
  gap: 26px;
}
.header-top__browse summary {
  list-style-type: none;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 13px;
}
.logo-text {
  font-family: "Lato-300";
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo-text--colored {
  font-family: "Lato-900";
  color: #f16d7f;
}

.browse__dropdown-list {
  list-style-type: none;
  text-align: left;
}
.browse__details {
  padding: 19px 0 22px 15px;
}
.browse__browse-title {
  font-family: "Lato-400";
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}

.search-field__button {
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  height: 38px;
  font-family: "Lato-300";
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #222222;
  width: 87px;
}
.search-field__search-input {
  height: 38px;
  border: 1px solid #e6e6e6;
  border-left: none;
  font-family: "Lato-300";
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
  padding-right: 16px;
  width: 280px;
}
.search-field__search-button {
  border-radius: 0 3px 3px 0;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-left: none;
  padding-left: 11px;
  padding-right: 11px;
  background-color: inherit;
}

.basket__button {
  background-color: inherit;
  border: none;
}

.main-header__account-button {
  padding-left: 19px;
  padding-right: 16px;
}

.main-header__account-details summary {
  list-style-type: none;
  font-family: "Lato-400";
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.header-bottom__nav {
  border: 1px solid #ececec;
}
.header-bottom__nav-list {
  list-style-type: none;
  display: flex;
  width: 680px;
  justify-content: space-between;
  margin: 0 auto;
}
.header-bottom__nav-item {
  position: relative;
}
.header-bottom__nav-item:hover .mega-box {
  display: flex;
}

.menu-link {
  font-family: "Lato-700";
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #222222;
  padding-top: 19px;
  padding-bottom: 22px;
  display: block;
}
.menu-link:hover {
  color: #f16d7f;
  transform: scale(1.2);
}

.mega-box {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px 20px 20px 25px;
  display: flex;
  gap: 46px;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}
.mega-box::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  top: -8px;
  left: 10px;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.mega-title {
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
  width: 235px;
}

.mega-link {
  font-family: "Lato-400";
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
}

.mega-link:hover {
  color: #f16d7f;
}

.reverse:hover .mega-box {
  right: 0;
  left: auto;
}
.reverse:hover .mega-box::before {
  top: -8px;
  right: 10px;
  left: auto;
}

.intro {
  background-image: url("../images/bg_top.png");
  height: 613px;
  display: flex;
  align-items: center;
}
.intro__moto {
  display: flex;
  gap: 12px;
  top: 400px;
}
.intro__moto-text {
  font-family: "Lato-900";
  font-weight: 900;
  letter-spacing: 0.025em;
}

.moto-up-text {
  font-size: 60px;
}

.moto-down-text {
  font-size: 40px;
}

.moto-down-text--colored {
  color: #f16d7f;
}

.categories {
  padding-top: 98px;
}
.categories__item {
  position: relative;
  display: block;
}
.categories__item-img {
  width: 100%;
}
.categories__grid {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(3, 261px);
  gap: 21px;
}
.categories__item1 {
  grid-row: span 2;
}

.category__name {
  position: absolute;
  top: 26px;
  background-color: #ffffff;
  padding: 16px 20px;
}
.category__name-top {
  font-family: "Lato-900";
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.category__name-bottom {
  font-size: 30px;
  color: #f16d7f;
}

.products {
  padding-top: 100px;
  padding-bottom: 113px;
}
.products__info {
  margin-bottom: 60px;
}
.products__title {
  font-family: "Lato-700";
  font-size: 30px;
  line-height: 54px;
  letter-spacing: 0.025em;
  text-align: center;
}
.products__text {
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
}
.products__cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 39px;
  margin-bottom: 58px;
}
.products__link {
  display: block;
  text-align: center;
  padding: 18px 20px 19px 24px;
}
.products__link-button {
  font-family: "Lato-700";
  font-size: 16px;
  line-height: 54px;
  letter-spacing: 0.025em;
  padding-left: 24px;
  padding-right: 20px;
}
.products__button-wrapper {
  display: flex;
  gap: 9px;
  align-items: center;
}

.product__card {
  max-width: 261px;
  position: relative;
}

.product__card:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.product__card:hover .add-box {
  display: flex;
}
.product__card:hover .card__img {
  filter: brightness(0.3);
}

.card__name {
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
  margin-left: 15px;
}
.card__price {
  font-family: "Lato-700";
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f16d7f;
  margin-left: 15px;
  margin-bottom: 21px;
}
.card__img {
  margin-bottom: 19px;
}

.add-box {
  position: absolute;
  top: 98px;
  width: 100%;
  justify-content: space-around;
  pointer-events: none;
  display: none;
}
.add-link {
  display: flex;
  gap: 8px;
  padding: 10px 13px 7px 12px;
  border: 1px solid #ffffff;
  align-items: center;
  pointer-events: all;
}
.add-link:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}
.add-text {
  font-family: "Lato-700";
  font-size: 13px;
  line-height: 1.2;
  color: #ffffff;
}

.offers {
  padding-bottom: 97px;
}

.offers-content {
  display: flex;
  height: 529px;
}
.offers-content-left {
  position: relative;
}

.offers-content-left__img {
  width: 100%;
  filter: brightness(0.8);
}
.offers-content-left__info {
  position: absolute;
  top: 134px;
  left: 39px;
}
.offers-content-left__text {
  font-family: "Lato-700";
  font-size: 53.7px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-right: 7px;
}
.offers-content-left__text--colored {
  color: #f16d7f;
}
.offers-content-left__text-bottom {
  font-size: 32.2px;
}

.offers-content-right {
  background-color: #222224;
  padding: 48px 43px 66px 32px;
}
.offers-content-right__inner {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.offers-content-right__inner-item {
  display: flex;
  gap: 31px;
}

.inner-item__info {
  padding-top: 7px;
}
.inner-item__title {
  font-family: "Lato-700";
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 14px;
}
.inner-item__text {
  font-family: "Lato-300";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  max-width: 219px;
}
.inner-item__icon {
  align-self: start;
}

.subscribe {
  background-image: url("../images/subscriibe_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 438px;
}
.subscribe-content {
  max-width: 2000px;
  display: flex;
}
.subscribe__reviews {
  display: flex;
  gap: 28px;
  width: 50%;
  margin-top: 111px;
}
.subscribe__subscribtion {
  width: 50%;
  padding-top: 148px;
  padding-bottom: 168px;
  border-left: 1px solid white;
}

.reviewer__photo {
  border-radius: 50%;
  width: 83px;
  height: 83px;
}
.reviewer__name {
  font-family: "Lato-700";
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.reviewer__city {
  font-family: "Lato-300";
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.review__text {
  width: 386px;
  font-family: "Lato-400-italic";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 19px;
}
.review__content {
  margin-top: 12px;
}

.subscribtion__title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 35px;
  border-radius: 23px;
}
.subscribtion__subtitle {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
.subscribtion__form {
  display: flex;
  margin-left: 92px;
}
.subscribtion__field {
  height: 46px;
  border: none;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  padding: 0 28px;
  width: 226px;
}
.subscribtion__button {
  padding: 0 21px 0 20px;
  border-radius: 0 23px 23px 0;
}

.bottom-navigation {
  height: 458px;
}
.bottom-navigation__content {
  display: flex;
  gap: 64px;
}
.bottom-navigation__left-block {
  margin-top: 109px;
}
.bottom-navigation__right-block {
  margin-top: 123px;
}
.bottom-navigation__scroll-info {
  height: 180px;
  overflow: scroll;
  margin-top: 29px;
}
.bottom-navigation__nav {
  display: flex;
}
.bottom-navigation__nav-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bottom-navigation__nav-block:first-child {
  margin-right: 129px;
}
.bottom-navigation__nav-block:nth-child(2) {
  margin-right: 80px;
}

.left-block__text {
  width: 427px;
  margin-bottom: 20px;
  font-family: "Lato-300";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #898989;
}

.nav-block__nav-title {
  font-family: "Lato-700";
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.nav-block__nav-list {
  list-style: none;
}
.nav-block__nav-item {
  font-family: "Lato-400";
  font-size: 16px;
  line-height: 43px;
  letter-spacing: 0.025em;
  color: #898989;
}
.nav-block__nav-item:hover {
  color: #f16d7f;
}

.footer {
  background-color: #e6e6e6;
  padding-top: 24px;
  padding-bottom: 23px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 16px;
  line-height: 42px;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
.footer__medias {
  display: flex;
  gap: 8px;
}

.media__link {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.media__link:hover {
  background-color: #f16d7f;
}

.media__img {
  text-align: center;
  margin: auto;
  align-self: center;
  display: flex;
  margin-top: 7px;
}/*# sourceMappingURL=style.css.map */