.shopping {
  padding-top: 90px;
  padding-bottom: 79px;

  &__box {
    width: 1140px;
    margin-bottom: 44px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 45% 15% 12% 12% 11% 5%;
    border-bottom: 1px solid #eaeaea;

    &--padd {
      padding-bottom: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 623px;
  }

  &__button {
    font-family: "Lato-700";
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #4a4a4a;
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: $white;
  }

  &__title {
    font-family: "Lato-700";
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: $text;
  }

  &__item {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__info {
    font-size: 13px;
    line-height: 20px;
    color: #656565;
    align-self: center;
    margin-left: 18px;
  }
}

.grid__left {
  display: flex;
  gap: 21px;
}

.description {
  &__name {
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $text;
    padding-top: 13px;
    margin-bottom: 38px;
  }
  &__details {
    font-size: 13px;
    line-height: 20px;
    color: #575757;
  }

  &--lighter {
    font-weight: 300;
    color: #6f6e6e;
  }
}
