// center witdth 1145 px

// cannot find this color on the layout : #232323

@import "vars";
@import "fonts";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  font-size: "Lato-400", sans-serif;
  color: $text;
}

.center {
  padding-left: calc(50% - 572px);
  padding-right: calc(50% - 572px);
}

a {
  text-decoration: none;
}

.button {
  background-color: $accent-color;
  border: transparent;
}

.main-header {
  &__header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.header-top {
  &__left {
    display: flex;
    gap: 37px;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__logo-text {
    font-family: "Lato-300";
    font-size: 27px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $text;
  }

  &__logo-text--colored {
    font-family: "Lato-900";
    color: $accent-color;
  }

  &__search-field {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    gap: 26px;
  }
  &__browse summary {
    list-style-type: none;
  }

  //   &__browse summary::after {
  //     content: url('images/arrow_browse.jpg');
  //   }
}

.browse {
  &__dropdown-list {
    list-style-type: none;
    text-align: left;
  }
  &__details {
    padding: 19px 0 22px 15px;
  }
  &__browse-title {
    @include dropdown-title();
  }
}

.search-field {
  &__button {
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    height: 38px;
    font-family: "Lato-300";
    font-size: 14px;
    letter-spacing: 0.025em;
    color: $text;
    width: 87px;
  }
  &__search-input {
    height: 38px;
    border: 1px solid #e6e6e6;
    border-left: none;
    font-family: "Lato-300";
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding-left: 16px;
    padding-right: 16px;
    width: 280px;
  }

  &__search-button {
    border-radius: 0 3px 3px 0;
    height: 38px;
    border: 1px solid #e6e6e6;
    border-left: none;
    padding-left: 11px;
    padding-right: 11px;
    background-color: inherit;
  }
}

.basket__button {
  background-color: inherit;
  border: none;
}

.main-header__account-button {
  padding-left: 19px;
  padding-right: 16px;
}

.main-header__account-details summary {
  list-style-type: none;
  font-family: "Lato-400";
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.025em;
  color: $white;
}

.header-bottom {
  &__nav {
    border: 1px solid #ececec;
  }
  &__nav-list {
    list-style-type: none;
    display: flex;
    width: 680px;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__nav-item {
    font-family: "Lato-700";
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: $text;
    padding-top: 19px;
    padding-bottom: 22px;
  }
}

// ----------INTRO-------------

.intro {
  background-image: url(images/bg_top.png);
  max-height: 613px;
  position: relative;

  //   background-image: url("images/top_picture.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   height: 665px;
  //   margin-bottom: 100px;

  &__moto {
    display: flex;
    gap: 12px;
    position: absolute;
    top: 243px;
  }

  &__moto-text {
    font-family: "Lato-900";
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.025em;
  }
  &__img {
    width: 100%;
  }
}
.moto-up-text {
  font-size: 60px;
}

.moto-down-text {
  font-size: 40px;
}

.moto-down-text--colored {
  color: $accent-color;
}

.categories {
  padding-top: 98px;

  &__item {
    position: relative;
    display: block;
  }

  &__item-img {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-rows: repeat(3, 261px);
    gap: 21px;
  }

  &__item1 {
    grid-row: span 2;
  }
}

// .category__link {
//   display: block;
// }

.category__name {
  position: absolute;
  top: 26px;
  background-color: $white;
  padding: 16px 20px;

  &-top {
    font-family: "Lato-900";
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $text;
  }

  &-bottom {
    font-size: 30px;
    color: $accent-color;
  }
}
